.wrapperMainContent {
	width: 70vw;
}
.rowResaTop {
	display: flex;
	background-color: white;
	width: 100%;
	height: 60vh;
}

.slideshowGauche {
	width: 10%;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 5px;
}

.ChosenDest {
	width: 100%;
	overflow: hidden;
}

.imgChosenDest {
	width: 100%;
}

.photoSlideShow img {
	width: 100%;
}

.rowBottomResa {
	background-color: pink;
	height: 30vh;
	display: flex;
	align-items: center;
}

.titreChosenDest {
	font-size: x-large;
	margin-bottom: 20px;
}

.descLightChosenDest {
}

.descLightChosenDest p {
	margin: 20px 0px;
}

.rowBottomResaGauche {
	background-color: whitesmoke;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px;
}

.rowBottomResaDroite {
	display: flex;
	width: 50%;
	height: 100%;
	background-color: whitesmoke;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.prixParPers {
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	justify-content: space-between;
}
.prixChosenDest {
	width: 20%;
	height: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: larger;
	color: red;
	margin: 0px 5px 0px 5px;
}

.prixMinuscule {
	color: red;
	font-size: small;
}

.btnVoirDispo {
	display: flex;
	color: whitesmoke;
	text-decoration: none;
	padding: 10px;
	background-color: var(--primaryColor);
	width: 70%;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.btnVoirDispo:hover {
	cursor: pointer;
}

.vertical-line {
	border-left: 1px solid black;
	display: inline-block;
	height: 80%;
	padding: 20px 0px;
}

.prixtotal {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.5em;
	margin-top: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}
