.hall {
  display: flex;
  justify-content: center;
  width: 100vh;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#titreResume {
  /* background-color: var(--primaryColor); */
  width: auto;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
