.containerCardDest {
  opacity: 0.9;
  width: 22vw;
  height: 35vh;
  border-radius: 1vh;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.2) 0px 6px 6px;
}
.containerCardDest:hover {
  opacity: 1;
}

.topCardDest {
  display: flex;
  height: 80%;
  justify-content: center;
}

.topCardDest img {
  width: 100%;
}

.bottomCardDest {
  display: flex;
  background-color: lightblue;
  height: 20%;
  justify-content: space-between;
  align-items: center;
}

.nomDest {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: whitesmoke;
  align-content: center;
  align-items: flex-start;
  padding-left: 0.5vw;
  justify-content: center;
  flex-direction: column;
}

.nomDest p,
.prixDest p {
  margin-bottom: 0px;
}

.nomDestP {
  font-weight: bold;
}

.descDestP {
  font-size: small;
}

.prixDest {
  background-color: whitesmoke;
  width: 30%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  font-size: larger;
  color: var(--rouge);
  padding: 2%;
}

.galleryCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
