.FastTrackWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.FastTrackWrapper {
  width: 100%;
}

.fastTrackAjouter {
  display: flex;
  width: 60%;
  height: 20%;
  align-items: center;
  justify-content: flex-start;
}
.formules {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fastTrackGauche {
  width: 60%;
}

.fastTrackGauche h2 {
  margin: 0px 0px 20px 0px;
}

.fastTrackGauche p {
  margin-bottom: 12px;
}

.fastTrack {
  width: 100%;
  height: auto;
  min-height: 20vh;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 40px 40px 15px 40px;
  justify-content: space-between;
  align-items: center;
}

.formule h2 {
  margin: 10px;
}

.fastTrackTextRouge {
  background-color: #cf2e1d;
  color: whitesmoke;
  padding: 5px;
  width: fit-content;
}
.textFormulefastTrack {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 20px;
  width: 35%;
}

.textFormulefastTrack p {
  margin: 10px 0px;
}

.fastTrackBtnAjouter {
  display: flex;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
  background-color: var(--primaryColor);
  width: 70%;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.fastTrackBtnAjouter:hover {
  cursor: pointer;
}

.fastTrackPrixParPers p {
  margin: 2px;
}

.btnFormuleContinuer {
  display: flex;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  width: 70%;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.btnFormuleContinuer:hover {
  cursor: pointer;
  background-color: var(--primaryColor);
  border: none;
  color: whitesmoke;
}

.FormulefastTrack {
  display: flex;
  width: 45%;
  height: 100%;
  flex-direction: column;
}
.imageFormule {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
}

.bottomFormule {
  border: 1px solid grey;
  display: flex;
  width: 100%;
  align-items: center;
}

.radioformule {
  margin: 20px;
}

.ouOUou {
  display: flex;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: x-large;
  justify-content: center;
  align-items: center;
}

.optionsfastTrack {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.gras {
  font-weight: bold;
}

.petitGris {
  font-size: small;
  color: grey;
}

.textBottomFormule {
  width: 100%;
}
