.navbar {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.navbar h1 {
  margin: 0vw 10vw;
}

.homeIcon {
  color: white;
}

.navbar h1 {
}
