:root {
  --primaryColor: #2b8bcc;
  --secondColor: #0e5280;
  --thirdColor: #4fb9ff;
  --gradientColor: linear-gradient(
    49deg,
    rgba(240, 240, 255, 0.8) 0%,
    /*    rgba(161, 200, 235, 0.2) 1%, */ rgba(43, 139, 204, 1) 100%
  );
  --shadowColor: ;
  --fontTitle: "IvyJournal" 400;
  --fontBody: "Ivyjournal", sans-serif;
  backface-visibility: hidden;
}
/* 
[data-theme="dark"] {
  --firstColor: #c2c3f0;
  --secondColor: #f7ace3;
  --thirdColor: rgb(235, 235, 235);
  --gradientColor: #1e1f34;
  --shadowColor: #c2c3f02f;
  --fontTitle: "IvyJournal" 400;
  --fontBody: "Ivyjournal", sans-serif;
  backface-visibility: hidden;
} */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

body p {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2 {
  font-family: var(--fontTitle);
  font-weight: 40;
  font-weight: bold;
  margin: 20px;
  text-transform: uppercase;
}
